body {
    background-color: #ffffff!important;
}

.body {
    background-color: black !important;
}

/* Navbar */


/* Image */
#background-image {
    height: 100vh !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 0;
    animation: fadeIn 2s forwards 1s;
}

.background-image {
    width: 100% !important;
    height: 60px !important;
    background-image: url('cyber-security-3.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* Logo Image */
.logo {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0);  /* Start at zero scale */
    animation: logoPopIn 1s forwards 2s; /* Scale up after 2s delay */
}

/* Logo Animations */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes logoPopIn {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.1); /* Briefly overshoot to give a bounce effect */
    }
    100% {
        transform: scale(1);
    }
}

/* Buttons */
.btn {
    color: blueviolet !important;
    border-radius: 20px !important;
    transition: transform 0.2s !important;
}

.bt2 {
    color: white !important;
}

.btn:hover {
    background-color: blueviolet !important;
    color: white !important;
    transform: scale(1.1) !important;
}

/* A-Links */
a {
    color: #ffffff !important;
}

/* H1 */
h1, h3 {
    color: rgb(0, 0, 0) !important;
    font-family: 'Fira Code', monospace !important;
    font-size: 900 !important;
}

/* Form */
.container {
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#email-input {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 0.1s ease !important;
}

#email-input:hover {
    cursor: pointer !important;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2) !important;
}

.form {
    border: 1px solid black !important;
    border-radius: 10px !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center!important;
    align-items: center !important;
}

/* Cards */
.card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 0.1s ease !important;
}

.card:hover {
    cursor: pointer !important;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2) !important;
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ddd;
}