body {
    background-color: #ffffff!important;
}

.body {
    background-color: black !important;
}

/* Image */
#background-image {
    height: 100vh !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.background-image {
    width: 100% !important;
    height: 60px !important;
    background-image: url('cyber-security-3.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* Buttons */
.btn {
    color: blueviolet !important;
    border-radius: 20px !important;
    transition: transform 0.2s !important;
}

.bt2 {
    color: white !important;
}

.btn:hover {
    background-color: blueviolet !important;
    color: white !important;
    transform: scale(1.1) !important;
}

/* A-Links */
a {
    color: #ffffff !important;
}

/* H1 */
h1, h3 {
    color: rgb(0, 0, 0) !important;
    font-family: 'Fira Code', monospace !important;
    font-size: 900 !important;
}

/* Form */
.container {
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#email-input {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 0.1s ease !important;
}

#email-input:hover {
    cursor: pointer !important;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2) !important;
}

.form {
    border: 1px solid black !important;
    border-radius: 10px !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center!important;
    align-items: center !important;
}

/* Cards */
.card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 0.1s ease !important;
}


.card:hover {
    cursor: pointer !important;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2) !important;
}